<link href="https://fonts.googleapis.com/css?family=Amarante|Averia+Serif+Libre|Press+Start+2P" rel="stylesheet">

<style>
body {
	background-image: url("images/main.png");
	background-repeat: none;
	
}
h1 {
	font-family: 'Averia Serif Libre', cursive;
	color: #0E96DA;
	text-align: center;
	text-shadow: 1px 1px black;

}
h2 {
	font-family: 'Averia Serif Libre', cursive;
	color: white;
	text-align: center;
}


</style>

<h1>Well welcome everyone.<br>Clearly I enjoy wrestling and aliens.
<br>Well let's dive right in the Twitterverse, shall we?</h1><BR>


<h2><div id="title">WRESTLING OR ALIENS?<BR>CHOOSE WISELY</h2></div>

<div id="belt"><a href="#wwe"><img src="images/twitbelt.png"></a></div>
<div id="ufo"><a href="#ufo"><img src="images/twitufo.png"></a></div>

